.movement {
    float: right;
}

.movement.dropdown {
    margin-right: 10px;
}

.btn.quick-add {
    float: right;
}

.btn.edit {
    float: right;
}

.save {
    float: right;
}

.nav-tabs {
    float: left;
    width: 90%;
}

.content {
    float:left;
}

/* LIST TAB CSS classes*/

.list-tabs {
    width:200px;
    height:500px;
    margin-top:70px;
}

.list-tab {
    width:200px;
    height:50px;
    margin-top:5px;
    margin-bottom: 5px;
    padding:0px;
    cursor:pointer;
}

.list-tab.active {
    font-weight: bold;
}
.list-tab.active.ui-droppable-accept {
    font-weight: normal;
    color: gray;
}
.list-tab.ui-droppable-accept:not(.active) {
    font-weight: bold;
}
.list-tab.ui-droppable-hover {
    color: white;
}

.list-tab h4 {
    font-weight: inherit;
}

.list-tab-text {
    float:left;
    height:50px;
    width:175px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow-right {
    float:left;
    width: 0; 
    height: 0; 
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 25px solid;
}

input.quick-add {
    width: 95%;
}

input.edit {
    width: 95%;
}