.movement {
    float: right;
}

.movement.dropdown {
    margin-right: 10px;
}

.btn.quick-add {
    float: right;
}

.green {
    color: green;
}

.red {
    color: red;
}

input.quick-add {
    width: 95%;
}