.pastel-green           { color: #77DD77; }
.pastel-green-bg        { background-color: #77DD77; }

.pastel-purple          { color: #B19CD9; }
.pastel-purple-bg       { background-color: #B19CD9; }

.pastel-orange          { color: #FFB347; }
.pastel-orange-bg       { background-color: #FFB347; }

.pastel-red             { color: #FF6961; }
.pastel-red-bg          { background-color: #FF6961; }

.pastel-yellow          { color: #FDFD96; }
.pastel-yellow-bg       { background-color: #FDFD96; }

.pastel-blue            { color: #37FDFC; }
.pastel-blue-bg         { background-color: #37FDFC; }

.green                  { color: green; }
.green-bg               { background-color: green; }

.red                    { color: red; }
.red-bg                 { background-color: red;}