/*.movement {
    float: right;
}

.movement.dropdown {
    margin-right: 10px;
}
*/

span.adjust-column-size {
    padding: 2px;
}

.buttons button {
    float: right;
}

.btn.quick-add {
    float: right;
}

.btn.edit {
    float: right;
}

.save {
    float: right;
}

.nav-tabs {
    float: left;
    width: 90%;
}

.content {
    float:left;
}

.tabs .edit-list,.cancel-edit,.accept-edit {
    margin-right:10px;
    cursor: pointer;
}

.tabs .new-collection input {
    margin-right: 10px;
}

.tabs .new-collection .cancel-collection,.accept-collection {
    margin-right: 10px;
}

/* LIST TAB CSS classes*/

.list-tabs {
    width:200px;
    height:500px;
    margin-top:70px;
}

.list-tab {
    width:200px;
    height:50px;
    margin-top:5px;
    margin-bottom: 5px;
    padding:0px;
    cursor:pointer;
}

.list-tab.new .list-tab-text {
    width:50px;
    border: dashed;
    font-size: 20px;
}

.list-tab.active {
    font-weight: bold;
}
.list-tab.active.ui-droppable-accept {
    font-weight: normal;
    color: gray;
}
.list-tab.ui-droppable-accept:not(.active) {
    font-weight: bold;
}
.list-tab.ui-droppable-hover {
    color: white;
}

.list-tab h4 {
    font-weight: inherit;
}

.list-tab-text {
    float:left;
    height:50px;
    width:175px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow-right {
    float:left;
    width: 0; 
    height: 0; 
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 25px solid;
}

/*JQUERY UI DIALOG CLASSES*/

#addList .form-group {
    width:99%;
}

.alert {
    white-space: pre-wrap;
}

/*EDIT LISTS CLASSES*/

.edit.list-container {
    border: dotted;
    margin-left: 40px;
    margin-top: 10px;
    padding: 15px;
    cursor: move;
}

/*For the edit/cancel/ok logos in collection tab*/
.tabs .active a {
    cursor: pointer;
    pointer-events: none;
}
.tabs .active a span {
    cursor: pointer;
    pointer-events: auto;
}

.list-container.edit input[type=text] {
    width: 95%;
}

input.edit {
    width: 95%;
}